
/* @group HTML5 Boilerplate */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { }

::-moz-selection{  }
::selection { } 
a:link { } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* @end */
/* @group Fonts */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2011 */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('./fonts/league_gothic-webfont.eot');
    src: url('./fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/league_gothic-webfont.woff') format('woff'),
         url('./fonts/league_gothic-webfont.ttf') format('truetype'),
         url('./fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PacificoRegular';
    src: url('./fonts/pacifico-webfont.eot');
    src: url('./fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pacifico-webfont.woff') format('woff'),
         url('./fonts/pacifico-webfont.ttf') format('truetype'),
         url('./fonts/pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500';
    src: url('./fonts/museosans_500-webfont.eot');
    src: url('./fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/museosans_500-webfont.woff') format('woff'),
         url('./fonts/museosans_500-webfont.ttf') format('truetype'),
         url('./fonts/museosans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('./fonts/museo_slab_500-webfont.eot');
    src: url('./fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/museo_slab_500-webfont.woff') format('woff'),
         url('./fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('./fonts/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenProMedium';
    src: url('./fonts/maven_pro_medium-webfont.eot');
    src: url('./fonts/maven_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/maven_pro_medium-webfont.woff') format('woff'),
         url('./fonts/maven_pro_medium-webfont.ttf') format('truetype'),
         url('./fonts/maven_pro_medium-webfont.svg#MavenProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* @end */



/* @group Theme Styles */

/* @group Fonts */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 22, 2011 */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('./fonts/league_gothic-webfont.eot');
    src: url('./fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/league_gothic-webfont.woff') format('woff'),
         url('./fonts/league_gothic-webfont.ttf') format('truetype'),
         url('./fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PacificoRegular';
    src: url('./fonts/pacifico-webfont.eot');
    src: url('./fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pacifico-webfont.woff') format('woff'),
         url('./fonts/pacifico-webfont.ttf') format('truetype'),
         url('./fonts/pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500';
    src: url('./fonts/museosans_500-webfont.eot');
    src: url('./fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/museosans_500-webfont.woff') format('woff'),
         url('./fonts/museosans_500-webfont.ttf') format('truetype'),
         url('./fonts/museosans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* @end */

/* @group Global */

body {
	font: 16px/25px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	background: #f9eed7 url(./images/noise.png) repeat;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer a[href*="mailto"] {
	background: url('./images/icons_small_light.png') no-repeat left 4px;
	padding: 0 0 2px 20px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 1px 1px #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, div.album-title, .photo-caption {
	font: 40px "LeagueGothicRegular";
	color: #38352d;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 15px;
}

#plugin_sidebar h3 {
	color: #b7b19a;
	font-size: 27px;
	margin-bottom: 5px;
}

#plugin_sidebar {
	font-size: 14px;
}

#plugin_sidebar div {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3c8a1;
}

#plugin_sidebar a, .photo-title {
	color: #38352d;
	font-weight: bold;
}

p {
	margin: 0 0 10px;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 12px 3px 0px;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 12px;
}

hr {
	border: none;
	border-top: 1px solid #d3c8a1;
	margin: 10px 0;
}

blockquote {
	margin: 0 0 20px 30px;
	padding: 0 0 0 20px;
	border-left: 10px solid #d3c8a1;
	color: #5b574c;
	font: italic 16px/25px Georgia, "Times New Roman", Times, serif;
}

code {
	font-family: "Courier New", Courier, mono;
	margin: 0 0 10px;
	padding: 10px 20px;
	display: block;
	background-color: #fff;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
	box-shadow:  0 1px 3px rgba(0,0,0,0.3);
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Main content area unordered list styles */

#contentContainer #content ul {
}

#contentContainer #content li {
	list-style-position: inside;
	list-style-type: disc;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
	margin: 5px 0;
	padding-left: 20px;
}

#sidebarContainer #sidebar li {
}
/* @end */

/* @group Header */

#topbar {
	display: block;
	width: 100%;
	height: 30px;
	background-image: url(./images/footer_noise.png);
	background-image: url(./images/noise.png), url(./images/footer_noise.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	clear: both;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#topbar ul {
	width: 920px;
	margin: 2px auto 0;
	padding: 0;
	text-align: right;
	font-size: 12px;
}

#topbar ul li {
	display: inline-block;
	margin-left: 10px;
}

#topbar ul li:not(:first-child):before {
	content: " / ";
	display: inline-block;
	margin-right: 10px;
	color: rgba(255, 255, 255, .2);
}

#topbar ul li a {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
	font-weight: bold;
	text-decoration: none;
}

header {
	background-image: url(./images/header_texture2.png);
	background-position: left 900px;
	background:
		url(./images/noise.png) repeat left 30px,
		url(./images/header_texture2.png) repeat left 900px #a42c0c;
	padding: 0 0 60px;
	width: 100%;
	height: auto;
	position: relative;
}

header:before {
	content: " ";
	display: block;
	width: 100%;
	height: 17px;
	background: rgba(0,0,0,0.12) url(./images/dashed_line.png) repeat-x left center;
	position: absolute;
	bottom: 0;
	clear: both;
}

header:after {
	content: " ";
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
}

header #logo {
	float: right;
	text-align: center;
	margin: 15px 50px 50px;
}

header h1 {
	color: #f7f0e4;
	font: 130px "LeagueGothicRegular";
	text-shadow: 3px 3px 0 rgba(0,0,0,0.3);
	margin-bottom: 0;
	line-height: normal;
}

header h2 {
	font: 60px "LeagueGothicRegular";
	color: #f2e8ca;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	margin: -20px 0 0;
}

header h2 em {
	display: block;
	color: #76250a;
	font: 25px/41px 'PacificoRegular';
	text-shadow:
		-1px -1px 0 rgba(0,0,0,0.4),
		0 1px 0 rgba(255,255,255,0.15);
	margin-top: 20px;
	width: 800px;
}

nav ul {
	width: 100%;
	height: 75px;
	text-align: right;
	padding-top: 29px;
	font-size: 14px;
	margin-bottom: 20px;
	font-family: "MuseoSans500";
}

nav ul li {
	display: inline;
	position: relative;
	margin-left: 10px;
}

nav ul li a:link,
nav ul li a:visited {
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	text-align: center;
	width: auto;
	height: 35px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

nav ul li a:hover,
nav ul li.hasChildren a:hover:after {
	color: rgba(0, 0, 0, 0.5);
	border-top-color: rgba(0, 0, 0, 0.5);
	text-shadow: none;
}

nav ul li a.current,
nav ul li a.current:hover,
nav ul li a.currentAncestor {
	background: #f2e8ca url(./images/header_texture.png) no-repeat center center;
	color: #bfac73;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

nav ul li a.current:before,
nav ul li a.currentAncestor:before {
	content: " ";
	display: block;
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -5px;
	width: 10px;
	height: 10px;
	background: url(./images/noise.png) left 30px repeat,
		url(./images/header_texture2.png) left 30px repeat;
	background-color: #b13717;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.4);
}

nav ul li a:active {
	position: relative;
	top: 1px;
}

/* Down arrow, top menu */
nav ul li.hasChildren a:after {
	content: " ";
	display: block;
	float: right;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(242, 232, 202);
	margin-top: 10px;
	margin-left: 10px;
}

/* Down arrow, top menu current item */
nav ul li.hasChildren a.current:after {
	border-top-color: #bfac73;
}

nav ul li.hasChildren li a:after {
	border: none;
	display: none;
}

nav ul ul li a.currentAncestor:before {
	display: none;
}

/* Down arrow, second menu */
nav ul ul li.hasChildren a:after {
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #333;
	border-right: none;
	margin-top: 7px;
	margin-left: 0;
}

nav ul ul {
	display: none;
	zoom: 1;
	position: absolute;
	left: 0;
	padding-top: 10px;
	text-align: left;
}

.ie7 nav ul ul { top: 75px; }

nav ul ul li {
	display: block;
	margin: 0;
	padding: 0;
}

nav ul ul li a:link,
nav ul ul li a:visited {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	padding: 5px 10px;
	margin: 0px;
	text-align: left;
	
	background: #f2e8ca url(./images/header_texture.png) no-repeat center center;
	color: #bfac73;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.25),
		-1px 0 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.25),
		-1px 0 2px rgba(0,0,0,0.25);
	box-shadow: 1px 0 2px rgba(0,0,0,0.25),
		-1px 0 2px rgba(0,0,0,0.25);
}

nav ul ul li a:hover,
nav ul ul li a.current {
	color: #87753d;
}


nav ul ul li a.current:before {
	display: none !important;
	width: 0;
	height: 0;
	border: none!important;
}

nav ul ul li:first-child a,
nav ul ul ul li:first-child a {
	z-index: 1;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-moz-border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.25);
}

nav ul ul li:last-child a,
nav ul ul ul li:last-child a {
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

nav ul ul ul {
	left: 100%;
	top: -10px;
}

.ie7 nav ul ul ul {top:0%; }

nav ul ul ul a:after {
	display: none!important;
}


/* @end */

/* @group Sidebar */

#sidebarContainer {
	display: block;
	padding: 40px 0;
	background: #b9b093 url(./images/noise.png) repeat;
	position: relative;
	color: #48443a;
}

#sidebarContainer a:link,
#sidebarContainer a:visited {
	color: #b6921d;
}

#sidebarContainer .wrapper h2 {
	display: block;
	width: 100%;
	margin: 0 0 20px;
}

#sidebarContainer .wrapper div {
}

#sidebarContainer:after {
	content: " ";
	display: block;
	width: 100%;
	height: 17px;
	background: rgba(0,0,0,0.06) url(./images/dashed_line.png) repeat-x left center;
	position: absolute;
	bottom: 0;
	clear: both;
}

/* @end */

/* @group Main */

/* @group #content */

#content.hasPluginSidebarContent {
	width: 700px;
	margin-right: 40px;
	float: left;
}

#plugin_sidebar {
	float: right;
	width: 220px;
}

/* @end */

#main {
	padding: 40px 0;
	background: #f9eed7 url(./images/noise.png) repeat;
	position: relative;
}

#main:after {
	content: " ";
	display: block;
	width: 100%;
	height: 17px;
	background: rgba(0,0,0,0.02) url(./images/dashed_line.png) repeat-x left center;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
}

/* @end */

/* @group Footer */

footer {
	padding: 40px 0;
	background: url(./images/noise.png) repeat,
		#24221d url(./images/footer_noise.png) repeat;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	text-align: center;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
	color: #f6efde;
}

footer:after {
	content: " ";
	display: block;
	width: 100%;
	height: 17px;
	background: rgba(0,0,0,1) url(./images/footer_dashed_line.png) repeat-x left center;
	position: relative;
	top: 20px;
}

/* @end */

/* @end */

/* @group Blog */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 1px solid #d3c8a1;
}

ul.blog-tag-cloud a, ul.blog-tag-cloud a:visited{}

ul.blog-tag-cloud a:hover{}

ul.blog-tag-cloud li {
	display: inline;
	padding: 0;
	margin: 0;
	position: relative;
	list-style-position: inside;
	list-style-type: none;
}

.blog-tag-size-1 {	
	font-size: 8px;
}

.blog-tag-size-2 {	
	font-size: 9px;
}

.blog-tag-size-3 {	
	font-size: 10px;
}

.blog-tag-size-4 {	
	font-size: 11px;
}

.blog-tag-size-5 {	
	font-size: 12px;
}

.blog-tag-size-6 {	
	font-size: 13px;
}

.blog-tag-size-7 {	
	font-size: 14px;
}

.blog-tag-size-8 {	
	font-size: 15px;
}

.blog-tag-size-9 {	
	font-size: 16px;
}

.blog-tag-size-10 {	
	font-size: 17px;
}

.blog-tag-size-11 {	
	font-size: 18px;
}

.blog-tag-size-12 {	
	font-size: 19px;
}

.blog-tag-size-13 {
	font-size: 20px;
}

.blog-tag-size-14 {	
	font-size: 21px;
}

.blog-tag-size-15 {
	font-size: 22px;
}

.blog-tag-size-16 {	
	font-size: 23px;
}

.blog-tag-size-17 {	
	font-size: 24px;
}

.blog-tag-size-18 {	
	font-size: 25px;
}

.blog-tag-size-19 {
	font-size: 26px;
}

.blog-tag-size-20 {	
	font-size: 27px;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-archive-headings-wrapper {
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #d3c8a1;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}


.blog-archive-headings-wrapper div {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.blog-archive-headings-wrapper div:last-child {
	text-align: right;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}

/* @end */

.blog-entry {
	position: relative;
	padding: 0 0 60px;
	margin: 0 0 60px;
}

.blog-entry:last-child {
	padding: 0;
}

.blog-entry:not(:last-child):after {
	content: " ";
	display: block;
	width: 100%;
	height: 17px;
	background: rgba(0,0,0,0.02) url(./images/dashed_line.png) repeat-x left center;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
}

/* @group Date Area */

.blog-entry-date {
	background: url('./images/icons_small_dark.png') no-repeat left -158px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #38352d;
	padding: 0 0 2px 20px;
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link,
.blog-entry-category a:visited {
	
}

/* @end */

.blog-entry .image-left,
.blog-entry .image-right {
}

h1.blog-entry-title {
	font-size: 50px;
	margin-bottom: 10px;
}

h1.blog-entry-title a {

}

h1.blog-entry-title a:hover {}

.blog-entry-body {
}

/* @group Tags */

p.blog-entry-tags {
	display: block;
	width: 100%;
	font: 18px/24px "LeagueGothicRegular";
	height:24px;
	position:relative;
	margin-bottom: 40px;
	margin-top: 20px;
}

p.blog-entry-tags a,
p.blog-entry-tags a:visited {
	position: relative;
	display: inline-block;
	height:24px;
	line-height: 24px;
	padding: 0 10px;
	color: #a19364;
	text-decoration:none;
	
	border-radius: 4px;
	margin-bottom: 12px;
	border: 1px solid rgb(186, 177, 148);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	margin-left: 10px;
	text-transform: uppercase;
	background-color: #d9cfb0;
	background: -moz-linear-gradient(90deg, rgb(206, 194, 155) 0%, rgb(228, 220, 198) 100%) #d9cfb0;
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(206, 194, 155)), to(rgb(228, 220, 198))) #d9cfb0;
}

p.blog-entry-tags a:hover {
}

/* @end */

/* @group Comments */

.blog-entry-comments {
}

.blog-entry-comments a,
.blog-entry-comments a:visited {
	background: url('./images/icons_small_dark.png') no-repeat left -277px;
	padding: 0 0 2px 28px;
}

.blog-entry-comments a:hover {
}

/* @end */

.blog-category-link-enabled,
.blog-category-link-disabled {
	padding: 3px 0 4px 20px;
	background: url('./images/icons_small_dark.png') no-repeat left -385px;
}

.blog-entry-category a:hover {
}

/* @group Sidebar */

#blog-archives h3, #blog-categories h3, #blog-rss-feeds h3 {
	text-transform: capitalize;
}

/* styles the archives in the blog sidebar */
#blog-archives {
}

#blog-archives br {}

.blog-archive-link-enabled,
.blog-archive-link-disabled {
	padding: 3px 0 4px 20px;
	background: url('./images/icons_small_dark.png') no-repeat left -158px;
}

#blog-archives a, #blog-archives a:visited {
}

#blog-archives a:hover {
}

.blog-archive-link-disabled {}

a.blog-archive-link-enabled:hover, .blog-archive-link-disabled:hover {
}
/* Styles the blog categories in the blog sidebar */
#blog-categories {
}

#blog-categories a, #blog-categories a:visited {
}

.blog-category-link-enabled, .blog-category-link-disabled {
}

#blog-categories a:hover {
}

.blog-category-link-disabled {}

.blog-category-link-enabled:hover, .blog-category-link-disabled:hover {
}

#blog-categories br {}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
}

#blog-rss-feeds br  {
}

a.blog-rss-link,
a.blog-comments-rss-link {
}

a.blog-rss-link:hover {
}

/* @end */

/* Read More links */

.blog-read-more {
}

.blog-read-more a {
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3c8a1;
}

.filesharing-description p {
	margin: 0;
}

.filesharing-item {
	margin: 0 0 30px;
	padding: 10px 20px;
	min-height: 50px;
	display: block;
	background-color: #fff;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
	box-shadow:  0 1px 3px rgba(0,0,0,0.3);
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.filesharing-item:hover {}

.filesharing-item-title {
}

.filesharing-item-title a {
	display: block;
}

.filesharing-item-title a:before,
.filesharing-item-title a:visited:before {
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	background: url('./images/icons_large_dark.png') no-repeat left -500px;
	margin-top: 10px;
	margin-right: 10px;
}

.filesharing-item-title a[href*=".pdf"]:before {
	background-position: -103px -500px;
}

.filesharing-item-title a[href*=".doc"]:before {
	background-position: -200px -500px;
}

.filesharing-item-title a[href*=".zip"]:before {
	background-position: -500px -500px;
}

.filesharing-item-title a[href*=".png"]:before,
.filesharing-item-title a[href*=".jpg"]:before,
.filesharing-item-title a[href*=".gif"]:before,
.filesharing-item-title a[href*=".PNG"]:before,
.filesharing-item-title a[href*=".JPG"]:before,
.filesharing-item-title a[href*=".GIF"]:before {
	background-position: -400px -5px;
}


.filesharing-item-title a:hover {}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Index Page View */

.album-title {

}

.album-description {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3c8a1;
}


.album-wrapper {}

.thumbnail-wrap {
	float: left;
	margin: 0 20px 20px 0;
	text-align: center;
	
	padding: 5px 5px 80px;
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame a img {

}

.thumbnail-frame a img:hover {

}

.thumbnail-caption {
	display: block;
}
	
/* @end */


/* @group Single Page */

.photo-background {
	background-image: none;
	text-align: center;
}

.photo-navigation {
	max-width: 80%;
	margin: 30px auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3c8a1;
}

.photo-links{
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {
}

.photo-frame{

}

.photo-title {
}

.photo-caption {
}

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page View */

.movie-page-title {
}

.movie-page-description {}

.movie-thumbnail-frame {
	float: left;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page View */
.movie-background {
}

.movie-title {
}

.movie-frame {
}

	
/* @end */


/* @end */

/* @group Forms */
form {
}

label {
	display: inline;
	float: left;
	margin-left: 20px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.message-text {
} 

.required-text {
} 

form br {
}

.label-wrap {
}

.fl-row, .fl-row > div {
	width: 90% !important;
}

.form-input-field-wrap, .fl-row > div > ul > li {
	padding: 20px !important;
	width: 90%;
	background: rgba(255,255,255,0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:
		0 -1px 0 rgba(0,0,0,0.1),
		0 1px 0 rgba(255,255,255,0.9);
	-moz-box-shadow:
		0 -1px 0 rgba(0,0,0,0.1),
		0 1px 0 rgba(255,255,255,0.9);
	box-shadow:
		0 -1px 0 rgba(0,0,0,0.1),
		0 1px 0 rgba(255,255,255,0.9);
	margin-bottom: 20px!important;
}

.form-input-field-wrap {
	padding: 50px 20px 20px;
	margin-top: -40px;
	margin-bottom: 0px;
}

.form-input-field, div select {
	clear: left;
	display: block;
	width: 75%;
	border: 1px solid #c3bca4;
	-webkit-box-shadow:
		inset 0 2px 3px rgba(0,0,0,0.2),
		0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow:
		inset 0 2px 3px rgba(0,0,0,0.2),
		0 1px 0 rgba(255,255,255,0.3);
	box-shadow:
		inset 0 2px 3px rgba(0,0,0,0.2),
		0 1px 0 rgba(255,255,255,0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.form-input-field:focus {
	outline: none;
} 

.form-input-button, input[type="submit"], input[type="submit"], button, #main .fl-submit {
	border: 1px solid #781c00;
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.3),
		0 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.3),
		0 1px 2px rgba(0,0,0,0.4);
	box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.3),
		0 1px 2px rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	font-weight: bold;
	line-height: normal;
	color: #f4dc86;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	background-color: #951e00;
	background: -moz-linear-gradient(90deg, #951e09 0%, #c2291f 100%), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c72a20), to(#951e00)) #951e00;
	background: -webkit-gradient(linear, left bottom, left top, from(#951e09), to(#c2291f)), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c72a20), to(#951e00)) #951e00;
} 

/* @end */

/* @group Breadcrumb Trail */

#breadcrumb {}

#breadcrumb ul {
}

#breadcrumb li {
}

#breadcrumb li a {
}

#breadcrumb .lastItem {}
	
/* @end */

/* @group Disqus Commenting */
#dsq-comments-title {
    clear:none !important;
} 

#dsq-content .dsq-options {
    clear:none !important;
}

#dsq-thread-settings  {
    clear:none !important;
}

#dsq-content div {
    clear:none !important;
}

.dsq-login-buttons li {
    clear:none !important;
    margin-bottom: 25px!important;
}

/* @end */

/* @group Sitemap */

.sitemap-header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3c8a1;
}

.rw-sitemap ul li {
	display: block;
	width: 32%;
	float: left;
	margin-bottom: 30px;
}

.rw-sitemap ul li:nth-child(4n) {
	clear: left;
}

.rw-sitemap ul li a {
	font-weight: bold;
	
}

.rw-sitemap ul ul li {
	float: none;
	width: 100%;
	list-style-type: disc;
	margin-bottom: 5px;
	color: rgba(0,0,0, .2);
}

.rw-sitemap ul ul li:nth-child(4n) {
	clear: none;
}
/* @end */


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright © 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('./images/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	left: -15px;
	width: 30px;
	height: 30px;
	background: url('./images/close.png') center center no-repeat;
	cursor: pointer;
	z-index: 1103;
	display: none;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('./images/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 25px;
	height: 25px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
	background-repeat: no-repeat;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

#fancybox-left-ico {
	background-image: url('./images/left.png');
	background-position: 3px center;
	
}

#fancybox-right-ico {
	background-image: url('./images/right.png');
	background-position: 6px center;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('./images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('./images/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('./images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('./images/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('./images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('./images/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('./images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('./images/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('./images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('./images/fancybox/fancybox.png') -40px -90px no-repeat;
	display: none;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: normal;
	font-weight: bold;
	padding: 0 0 3px 0;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('./images/fancybox/fancybox.png') -55px -90px no-repeat;
	display: none;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }